<h2>Template: Dinámicos</h2>
<hr />

<form #miFormulario="ngForm" autocomplete="off" (ngSubmit)="guardar()">
  <!-- Nombre-->
  <div class="mb-3 row">
    <label class="col-sm3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        name="nombre"
        class="form-control"
        [ngModel]="persona.nombre"
        required
        placeholder="Nombre de la persona"
      />
      <span
        class="form-text text-danger"
        *ngIf="
          miFormulario.controls.nombre.errors &&
          miFormulario.controls.nombre.touched
        "
      >
        Éste campos es obligatorio</span
      >
    </div>
  </div>

  <!-- Agregar -->
  <div class="mb-3 row">
    <label class="col-sm3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          [(ngModel)]="nuevoJuego"
          placeholder="Agregar favorito"
          (keyup.enter)="agregarJuego()"
          name="nuevoJuevo"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="agregarJuego()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos Favoritos-->
  <div class="mb-3 row">
    <label class="col-sm3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div
        class="input-group mb-1"
        *ngFor="let juego of persona.favoritos; let i = index"
      >
        <input
          [(ngModel)]="juego.nombre"
          [name]="'favoritos' + i"
          class="form-control"
          required
        />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="eliminar(i)"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <!--Funciones de botón para desactivarlo "Disabled"-->
      <button
        type="button"
        [disabled]="miFormulario.invalid"
        class="btn btn-primary float-end"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Persona</span>
<pre>{{ persona | json }}</pre>
